name: DS-ML-DevOps CI Pipeline

on:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  build-test-docker:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Set up Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 4️⃣ Run training pipeline (sanity check)
      - name: Run training pipeline
        run: |
          python src/train.py

      # 5️⃣ Build Docker image (API)
      - name: Build Docker image for FastAPI
        run: |
          docker build -t churn-ml-api .

      # 6️⃣ Verify Docker image
      - name: List Docker images
        run: |
          docker images
